/* background */
/* original background grabbed from royalty free google image search, labeled for reuse with modification -
site being https://pixnio.com/textures-and-patterns/concrete-texture/concrete-wall-pattern-texture-stone-abstract-surface-material */

body {
    background-image: url("../images/background.jpg");
}

.images {
    max-height: 65%;
    max-width: 65%;
}


.row {
    margin: 1em;
    
}
/* title */

/* instructions */

/* number to get box */

/* wins, losses box */

/* four crystal pictures */

/* score box */